@font-face {
    font-family: 'Mochiy Pop P One';
    src: url(./Resources/Fonts/MochiyPopPOne-Regular.ttf);
  }

  @font-face {
    font-family: 'Roboto';
    src: url(./Resources/Fonts/Roboto-Bold.ttf);
    font-weight: bold;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(./Resources/Fonts/Roboto-Italic.ttf);
    font-style: italic;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(./Resources/Fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: 'Titillium Web';
    src: url(./Resources/Fonts/TitilliumWeb-Bold.ttf);
    font-weight: bold;
  }

  @font-face {
    font-family: 'Titillium Web';
    src: url(./Resources/Fonts/TitilliumWeb-Italic.ttf);
    font-style: italic;
  }

  @font-face {
    font-family: 'Titillium Web';
    src: url(./Resources/Fonts/TitilliumWeb-Regular.ttf);

  }

  @font-face {
    font-family: 'Ubuntu';
    src: url(./Resources/Fonts/Ubuntu-Bold.ttf);
    font-weight: bold;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url(./Resources/Fonts/Ubuntu-Italic.ttf);
    font-style: italic;
 }

 @font-face {
    font-family: 'Ubuntu';
    src: url(./Resources/Fonts/Ubuntu-Regular.ttf);
 }


h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}
section{
    border:solid 1px black;
}

h2{
    font-family: 'Mochiy Pop P One', sans-serif;
    text-indent: 10px;
}

h3{
    text-decoration: underline;
}

div{
    width: 600px;
    height: 70px;
    margin: 10px;
    text-indent: 1;
    padding-top: 10px;
    padding-bottom: 50px;
    font-family: 'Mochiy Pop P One', sans-serif;
    display: inline-block;
    text-align: center;
}

div.cool_blue{
    background-color: #2d5dcc;
    color: white;

}

div.pink{
    background-color: #d957d9;
    color: black;

}

div.mint_green{
    background-color: #4fe0b0;
    color: black;
}

div.beige{
    background-color: #efd9ca;
    color: black;
    text-align: center;
}

section{
    margin-bottom: 50px;
    padding-bottom: 50px;
}

div.roboto{
    font-family: "Roboto";
}
div.titillium_web{
    font-family: "Titillium Web";
}

div.ubuntu{
    font-family: "Ubuntu";
}

.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}

